<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>

<div class="grid-container">
    <div class="grid-item">   
        <p class="mbtitle">Writing Competition</p>
        <p>We are excited to hold a writing competition for the students! Below is a downloadable and printable PDF for students to answer our writing prompt. The winners of the writing competition will be featured on our website and receive a copy of our very own Purdue book, "Polly and Pete's Purdue Adventure"!</p>
        <div class="button-container">
                <a mat-raised-button color="accent" href="./assets/images/WritingCompetition.pdf" target="_blank">Download PDF Here!</a>
        </div>
        
    </div>

    <div class="grid-item">   
        <p class="mbtitle">Drawing Competition</p>
        <p>We are excited to hold a drawing competition for the students! Below is a downloadable and printable PDF for students to draw a picture related to our prompt. The winners of the drawing competition will be featured on our website and receive a copy of our very own Purdue book, "Polly and Pete's Purdue Adventure"!</p>
        <div class="button-container">
            <a mat-raised-button color="accent" href="./assets/images/DrawingPrompt.pdf" target="_blank">Download PDF Here!</a>
    </div>
    </div>
</div>
