<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>

<div class="grid-container">
    <div class="grid-item">   
        <p class="mbtitle">Writing Competition</p>
        <p>We are excited to hold a writing competition for the students! Below is a downloadable and printable PDF for students to answer our writing prompt. The winners of the writing competition will be featured on our website and receive a copy of our very own Purdue book, "Polly and Pete's Purdue Adventure"!</p>
        <div class="button-container">
                <a mat-raised-button color="accent" href="./assets/images/WritingCompetition.pdf" target="_blank">Download Writing Prompt Here!</a>
        </div>
        
    </div>

    <div class="grid-item">   
        <p class="mbtitle">Drawing Competition</p>
        <p>We are excited to hold a drawing competition for the students! Below is a downloadable and printable PDF for students to draw a picture related to our prompt. The winners of the drawing competition will be featured on our website and receive a copy of our very own Purdue book, "Polly and Pete's Purdue Adventure"!</p>
        <div class="button-container">
            <a mat-raised-button color="accent" href="./assets/images/DrawingPrompt.pdf" target="_blank">Download Drawing Prompt Here!</a>
    </div>
    </div>
</div>
<div class="grid-container">
    <div class="grid-item">   
        <p class="mbtitle">Coloring Pages</p>
        <p>Below are some printable coloring pages for the students to color in. They are Purdue, Reading, and Mask Wearing themed!</p>
        <div class="image-container">
            <img class="grid-image" src= "./assets/images/coloringpage1.png">
            <img class="grid-image" src= "./assets/images/coloringpage2.png">
        </div>
         
        <div class="button-container">
                <a mat-raised-button color="accent" href="./assets/images/ColoringPages.pdf" target="_blank">Download Coloring Pages Here!</a>
        </div>
        
    </div>

    <div class="grid-item">   
        <p class="mbtitle">Games and Challenges</p>
        <p>Finally, we have some games, challenges, and other activities for the students. Click the download button to get printable word searches and sentence challenges!</p>
        <div class="image-container">
            <img class="grid-image-activity" src= "./assets/images/activitythumbnail1.png">
            <img class="grid-image-activity" src= "./assets/images/activitythumbnail2.png">
        </div>
        <div class="button-container">
            <a mat-raised-button color="accent" href="./assets/images/activities.pdf" target="_blank">Download Activity Pages Here!</a>
    </div>
    </div>
</div>
