<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>

<div class="grid-container">
    <div class="grid-item">   
        <p class="mbtitle">Kids TED Talks</p>
        <div class="image-container">
            <img class="grid-image" src= "./assets/images/ted.jpg">
        </div>
        <p>At the link below, you can find a list of inspiring TED Talks given by young students and teenagers. They share challenges they've overcome, isnpirational moments, and other fascinating stories that the students can listen to and learn from!</p>
        <div class="button-container">
                <a mat-raised-button color="accent" href="https://www.ted.com/playlists/129/ted_under_20" target="_blank">Find the Ted Talks Here!</a>
        </div>   
    </div>
    <div class="grid-item">   
        <p class="mbtitle">2nd Grade Reading List</p>
        <div class="image-container">
            <img class="grid-image-books" src= "./assets/images/bookart.gif">
        </div>
        <p>Below you can download our 2nd Grade Level reading list! Included is a list of chapter books and series that the second graders will love. We have also included a few local libraries and bookstores where you can checkout or purchases these books. </p>
        <div class="button-container">
            <a mat-raised-button color="accent" href="./assets/images/readinglist.pdf" target="_blank">Get Your Reading List!</a>
    </div>
    </div>
</div>

<div class="grid-container">
    <div class="grid-item">   
        <p class="mbtitle">For Teachers</p>
        <p>We know that being a teacher is not easy work - especialy during a global health pandemic. With that in mind, we've compiled a few resources that we think can be helpful for our wonderful teachers during these crazy times. The buttons below lead to resources like lesson plans, games, and activities specifically catered towards teachers working through COVID-19.</p>
        <div class="button-list">
            <div class="button-container">
                <a mat-raised-button color="accent" href="https://www.teacherspayteachers.com/" target="_blank">TeachersPayTeachers</a>
            </div> 
        </div>
        <div class="button-list">
            <div class="button-container">
                <a mat-raised-button color="accent" href="https://www.hmhco.com/learningsupport" target="_blank">At Home Learning Support by HMHCO</a>
            </div> 
        </div>
        <div class="button-list">
            <div class="button-container">
                <a mat-raised-button color="accent" href="https://www.starfall.com/h/index-grades123.php" target="_blank">Games and Activities by Starfall</a>
            </div> 
        </div>
        <div class="button-list">
            <div class="button-container">
                <a mat-raised-button color="accent" href="https://remotesupport.achieve3000.com/" target="_blank">Printable Activity Packets by Achieve 3000</a>
            </div> 
        </div>
    </div>
    <div class="grid-item">   
        <p class="mbtitle">For Parents</p>
        <p>Being a parents is already a challenging task - during a pandemic it's even harder. With kids having to stay home more often, we know that parents are struggling to find time for themselves or entertaining their kids at home. Below are some resources that we think will keep your children occupied and learning while they're home.</p>
        <div class="button-list">
            <div class="button-container">
                <a mat-raised-button color="accent" href="https://www.abcya.com/" target="_blank">ABCya</a>
            </div> 
        </div>
        <div class="button-list">
            <div class="button-container">
                <a mat-raised-button color="accent" href="https://pbskids.org/games/reading/" target="_blank">PBS Reading Games</a>
            </div> 
        </div>
        <div class="button-list">
            <div class="button-container">
                <a mat-raised-button color="accent" href="https://www.cartoonnetwork.com/games/category/puzzle/index.html?atclk_gp=gn_categories_puzzle" target="_blank">Cartoon Network Puzzle Games</a>
            </div> 
        </div>
        <div class="button-list">
            <div class="button-container">
                <a mat-raised-button color="accent" href="https://stories.audible.com/start-listen" target="_blank">Audible FREE Children's Audio Books</a>
            </div> 
        </div>     
    </div>
</div>