<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<p>When we found out that our annual Reading Extravaganza event would be virtual, we knew that we would need to do something special this year
    to still accomplish our service goal of increasing childhood literacy. With this in mind, Sasha Kipnis (our Reading is Leading Chair) and Meg Tharp (our Vice President of Service)
    decided to write their very own children's book about Purdue. After studying at Purdue University for four years, Meg and Sasha wanted to share their love for 
    Purdue with young students all across Indiana. They wrote and illustrated "Polly and Pete's Purdue Adventure" - a story that follows Polly and Pete around Purdue's campus as they explore
    the different things that Purdue has to offer. Below is a video reading of members of the Mortar Board Class of 2021 reading the book. 
</p>

<div class="video-container">
    <youtube-player 
    class="video"
    videoId="jLQI8b-dc9I" 
    suggestedQuality="highres" 
    [height]="300" 
    [width]="600" 
    [startSeconds]="0"
    [endSeconds]="0">
    </youtube-player>
</div>