.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0px;
    justify-content: space-evenly;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: left;
  }


  .mbtitle {
    font-family: 'Montserrat', sans-serif, bold;
    font-size: 50px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: #dac194;
    text-shadow: 2px 1px black;
}

.grid-image-amanda {
    max-width: 35%;
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.grid-image-trevion {
    max-width: 50%;
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;  
}


.grid-image-aidan {
    max-width: 55%;
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.grid-image-torey {
    max-width: 50%;
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.grid-image-alexis {
    max-width: 30%;
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.grid-image-grace {
    max-width: 50%;
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

.grid-image-white {
    max-width: 100%;
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

p{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

.white-text{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}