<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>



<div class="grid-container">
    <div class="grid-item">
        <p class="mbtitle">Amanda Coy</p>
        <img class="grid-image-amanda" src= "./assets/images/amanda.png"> 
        <p>Amanda is a junior from Saline, Michigan studying Political and Health Sciences. She is this year's Purdue's 31st Golden Girl as well as Miss Purdue 2020. </p>
    </div>
    <div class="grid-item">
        <p class="mbtitle">Trevion Williams</p>
        <img class="grid-image-trevion" src= "./assets/images/trevion.png"> 
        <p>Trevion is a junior from Chicago, Illinois studying Organizational Leadership. He is a forward on the Purdue Men's Basketball Team and helped the team to an NCAA Elite Eight finish as a Freshman. </p>

    </div>
</div>

<div class="grid-container">
    <div class="grid-item">
        <p class="mbtitle">Aidan O'Connell</p>
        <img class="grid-image-aidan" src= "./assets/images/aiden.jpg"> 
        <p>Aidan is a junior from Long Grove, Illinois studying Management. He walked onto the Purdue Men's Football Team in 2017 as a Quarterback and started the 2020 season leading the Boilermakers to their first win of the season. </p>
    </div>
    <div class="grid-item">
        <p class="mbtitle">Torey Caldwell</p>
        <img class="grid-image-torey" src= "./assets/images/trevion.png"> 
        <p>Torey Caldwell is a senior from Naperville, Illinois studying Materials Engineering. When she's not participating in numerous academic clubs, Torey is a Drum Major for Purdue's All-American Marching Band. </p>

    </div>
</div>

<div class="grid-container">
    <div class="grid-item">
        <p class="mbtitle">Grace Cleveland</p>
        <img class="grid-image-aidan" src= "./assets/images/grace.png"> 
        <p>Grace is a junior from Bloomington, Illinois studying Retail Management. Standing at 6 feet and 3 inches tall, Grace plays for Purdue Women's Volleyball Team as an Offensive Hitter. </p>
    </div>
    <div class="grid-item">
        <p class="mbtitle">Logan Leeds</p>
        <img class="grid-image-torey" src= "./assets/images/trevion.png"> 
        <p>Logan Leeds is a Senior from Ohio studying Kinesiology. Logan is a Cadet in Purdue's Army ROTC program and he is a Platoon Leader in the Indiana Army National Guard! </p>

    </div>
</div>

<div class="grid-container">
    <div class="grid-item">
        <p class="mbtitle">Alexis Piskulic</p>
        <img class="grid-image-alexis" src= "./assets/images/alexis.png"> 
        <p>Alexis is a Junior at Purdue Univeristy from Missouri studying Pre-Law. Alexis is one of Purdue's famous Silver Twin Twirlers and puts on incredible performances at football games and competitions. </p>
    </div>
    <div class="grid-item">
        <p class="mbtitle"> </p>
        <img class="grid-image-white" src= "./assets/images/white.png"> 
        <p class="white-text">Alexis is a Junior at Purdue Univeristy from Missouri studying Pre-Law. Alexis is one of Purdue's famous Silver Twin Twirlers and puts on incredible performances at football games and competitions. </p>

    </div>

</div>