<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>



<div class="grid-container">
    <div class="grid-item">
        <p class="mbtitle">Jenn Garson</p>
        <div class="video-container">
            <youtube-player 
            class="video"
            videoId="GYAB4Td62zI" 
            suggestedQuality="highres" 
            [height]="250" 
            [width]="500" 
            [startSeconds]="4"
            [endSeconds]="8">
            </youtube-player>
        </div>
        <p>Jenn Garson reading If You Give a Mouse A Cookie</p>
    </div>  
    <div class="grid-item">
        <p class="mbtitle">Amanda Coy</p>
        <img class="grid-image-amanda" src= "./assets/images/amanda.png"> 
        <p>Amanda is a junior from Saline, Michigan studying Political and Health Sciences. She is this year's Purdue's 31st Golden Girl as well as Miss Purdue 2020. </p>
    </div>
</div>

<div class="grid-container">
    <div class="grid-item">
        <p class="mbtitle">Colleen Leonard</p>
        <img class="grid-image-trevion" src= "./assets/images/trevion.png"> 
        <p>Colleen Leonard reading  </p>

    </div>
    <div class="grid-item">
        <p class="mbtitle">Trenton Howard</p>
        <img class="grid-image-aidan" src= "./assets/images/aiden.jpg"> 
        <p>Trenton Howard reading </p>
    </div>
</div>

<div class="grid-container">
    <div class="grid-item">
        <p class="mbtitle">Torey Caldwell</p>
        <img class="grid-image-torey" src= "./assets/images/torey.jpg"> 
        <p>Torey Caldwell is a senior from Naperville, Illinois studying Materials Engineering. When she's not participating in numerous academic clubs, Torey is a Drum Major for Purdue's All-American Marching Band. </p>

    </div>
    <div class="grid-item">
        <p class="mbtitle">Alison Rickert</p>
        <img class="grid-image-aidan" src= "./assets/images/grace.png"> 
        <p>Alison Rickert reading</p>
    </div>
</div>