
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>

<p class="mbtitle">Mortar Board National Honor Society</p>
<p class="mbsubtitle">The Barabara Cook Chapter - Purdue University</p>

<div class="grid-container">
    <div class="grid-item-one">
        <p>
        Mortar Board is a national honor society that recognizes a group of college seniors each year for their outstanding
        leadership, commitment to service, and academic excellence. These three qualities represent the three pillars of Mortar Board.
        </p>
        <br>
        <p>
        Purdue University has its own chapter of Mortar Board named after the retired Dean of Students Barbara Cook, who advised 
        Mortar Board from 1956 to 1986.
        </p>
        <br>
        <p>
        Service, one of the three pillars, is a large focus for the Barbara Cook Chapter of Mortar Board. Mortar Board's national
        philanthropy of Reading is Leading works to promote literacy across the world for people of all ages.
        </p>
    </div>
    <div class="grid-item">
        <img class="grid-image" src= "./assets/images/tempMBclasspic.png"> 
    </div>
</div>

<p class="mbtitle">Reading is Leading</p>
<p class="mbsubtitle">Reading Extravaganza</p>

<div class="grid-container">
    <div class="grid-item">
        <img class="grid-image-two" src= "./assets/images/pastRILphoto.png"> 
    </div>
    <div class="grid-item-one">
        <p>
         With a greater goal of promoting literacy across the world, the Barbara Cook Chapter has focused its efforts within the local Lafayette community to increase childhood literacy.
         In the past, Purdue's Mortar Board chapter has put on an annual event called Reading Extravaganza. This event brought in hundreds of Lafayette elementary school students to Purdue University
         and hosted fun activities, featured Purdue celebrity readers, and more. 

        </p>
        <br>
        <p>Due to social distancing restrictions brought on by COVID-19, the Mortar Board Service team has taken the time to re-imagine the Reading Extravaganza experience into a meaningful virtual one.
            Though we are sad that we cannot hold this event in person this year, we are eager to emulate the Reading Extravaganza experience in a safe, online way. 
        </p>
        <br>
        <p>
          One of the most exciting things about a virtual Reading Extravaganza experience is that we can have a much broader reach. Rather than just interacting with one or two schools as we have done in the past,
          we can now extend our literacy reach across all of Indiana!
        </p>
    </div>
</div>

<p class="mbtitle">Navigating the Virtual Experience</p>
<p class="mbsubtitle">What You Can Find On This Website</p>

<div class="grid-container">
    <div class="grid-item-one">
        <p>
        <b>Celebrity Readers</b> - by clicking on the 'Celebrity Readers' tab above, you will be able to find a collection of videos by notable Purdue celebrities.
        The Mortar Board Service team has written it's own children's book about overcoming challenges. The Purdue celebrities will be reading this book!
        In addition, a handful of celebrities have kindly sent in videos of them reading their favorite children's books that will leave students with a meaningful message. 
        </p>
        <br>
        <p>
        <b>Activities</b> - on the next tab labeled 'Activities', you will find games, arts and crafts, and challenges for students to participate in. Some of these activities require printing so that
        the students can do crafts, some of the activities can help facilitate discussions and games amongst the students.
        </p>
        <br>
        <p>
        <b>Resources</b> - the last tab labeled 'Resources' will lead to various links, organizations, and programs that help promote literacy. We want to continue to support every school's literacy efforts and hope that these resources 
        can provide a place to start. With COVID-19 disrupting classrooms, we want to ensure that students are still having a meaningful learning experience. 
        </p>
    </div>
    <div class="grid-item">
        <img class="grid-image-three" src= "./assets/images/amandaRIL.png"> 
    </div>
</div>

<p class="mbtitle">Contact Us</p>

<p class="contact"> You can find more information about Purdue's Barbara Cook Chapter of Mortar Board by clicking on the icons below</p>

<div class="grid-container-contact">
    <div class="grid-item-icon">
        <a href="http://purduemortarboard.com/" target="_blank">
            <fa-icon [icon]="desktopIcon" [styles]="{'stroke': '#dac194', 'color': '#dac194'}" size="2x"></fa-icon>
        </a>
    </div>
    <div class="grid-item-icon">
        <a href="https://www.facebook.com/PurdueMortarBoard/" target="_blank">
            <fa-icon [icon]="fbIcon" [styles]="{'stroke': '#dac194', 'color': '#dac194'}" size="2x"></fa-icon>
        </a>
    </div>
    <div class="grid-item-icon">
        <a href="https://www.instagram.com/purduemortarboard/" target="_blank">
            <fa-icon [icon]="instaIcon" [styles]="{'stroke': '#dac194', 'color': '#dac194'}" size="2x"></fa-icon>
        </a>    
    </div>
    <div class="grid-item-icon">
        <a href="mailto: mortarboard@purdue.edu" target="_blank">
            <fa-icon [icon]="emailIcon" [styles]="{'stroke': '#dac194', 'color': '#dac194'}" size="2x"></fa-icon>
        </a>    
    </div>
</div>




