<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab class="mat-tab-body-content" label="About Mortar Board Service">
        <div >
            <app-about-mb></app-about-mb>
        </div>
        
    </mat-tab>
    <mat-tab label="Polly and Pete's Purdue Adventure">
        <app-book></app-book>
    </mat-tab>
    <mat-tab label="Celebrity Readers">
        <app-celeb-readers></app-celeb-readers>
    </mat-tab>
    <mat-tab label="Activities">
        <app-activities></app-activities>
    </mat-tab>
    <mat-tab label="Resources">
        <app-resources></app-resources>
    </mat-tab>
</mat-tab-group>
